<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
	<Console name="Console" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
	</Console>
</Appenders>
<Loggers>
	<Logger name="org.springframework.samples" level="debug" />
	<Logger name="org.springframework.messaging" level="debug" />
	<Logger name="org.springframework.web" level="debug" />
	<Logger name="org.springframework.web.socket" level="info" />
	<Logger name="org.springframework.security" level="warn" />
	<Root level="warn">
		<AppenderRef ref="Console" />
	</Root>
</Loggers>
</Configuration>
