
body {
  background-color: #f5f5f5;
}

#main-content {
  max-width: 940px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.table th.number, .table td.number {
  text-align: right;
}

.table td.trade-buttons {
  text-align: center;
}

.table tfoot {
  font-weight: bold;
}

#tradeDialog {
  max-width: 450px;
}

.form-trade {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
}

.form-trade .form-trade-heading {
  margin-bottom: 10px;
}

.form-trade input[type="text"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
